{% extends 'base.html' %}

{% block title %}
    Sources
{% endblock title %}

{% block content %}
    <a href="{% url 'currency:source-create' %}">Create Source</a><br><br>
    <table border="1">
        <caption>Sources</caption>
        <tr bgcolor="#a0a0a0">
            <th>ID</th>
            <th>Source URL</th>
            <th>Name</th>
            <th>Details link</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    {% for source in object_list %}
        <tr bgcolor="{% cycle '#ffffff' '#e9e9e9' %}">
            <td>{{ source.id }}</td>
            <td>{{ source.source_url }}</td>
            <td>{{ source.name }}</td>
            <td><a href="{% url 'currency:source-details' source.id %}">Source details</a></td>
            <td><a href="{% url 'currency:source-update' source.id %}">Update Source</a></td>
            <td><a href="{% url 'currency:source-delete' source.id %}">Delete Source</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
