{% extends 'base.html' %}

{% block title %}
    Messages
{% endblock title %}

{% block content %}
    <a href="{% url 'currency:message-create' %}">Create Message</a><br>
    <form method="get">
        {{ filter.form.as_table }}
        <button type="submit" class="btn btn-dark">Search rates</button>
    </form><br>
    <div class="row col-12">
        <table class="table table-striped">
            <caption>Messages</caption>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Details link</th>
                <th scope="col">Actions</th>
            </tr>
        {% for message in page_obj %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.email_from }}</td>
                <td>{{ message.subject }}</td>
                <td><a href="{% url 'currency:message-details' message.id %}">Message details</a></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="false">Actions</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'currency:message-update' message.id %}">Update</a>
                            <a class="dropdown-item" href="{{% url 'currency:message-delete' message.id %}">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    {% include 'includes/pagination.html' %}

{% endblock content %}
