{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block content %}
    <a href="{% url 'currency:rate-create' %}">Create Rate</a><br>
    <div class="row col-12">
        <table class="table table-striped">
            <caption>Rates</caption>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Buy</th>
                <th scope="col">Sale</th>
                <th scope="col">Currency</th>
                <th scope="col">Source</th>
                {% if request.user.is_authenticated %}
                <th scope="col">Details link</th>
                {% endif %}
                {% if request.user.is_superuser %}
                <th scope="col">Actions</th>
                {% endif %}
            </tr>

        {% for rate in object_list %}
            <tr bgcolor="{% cycle '#ffffff' '#e9e9e9' %}">
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{ rate.id }}</td>
                <td>{{ rate.buy }}</td>
                <td>{{ rate.sale }}</td>
                <td>{{ rate.get_currency_display }}</td>
                <td>{{ rate.source }}</td>
                {% if request.user.is_authenticated %}
                <td><a href="{% url 'currency:rate-details' rate.id %}">Rate details</a></td>
                {% endif %}
                {% if request.user.is_superuser %}
                 <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'currency:rate-update' rate.id %}">Update</a>
                                <a class="dropdown-item" href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
                            </div>
                        </div>
                 </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock content %}
