{% extends 'base.html' %}

{% block title %}
    Message details
{% endblock title %}

{% block content %}
    <table class="table">
        <caption>Message ({{ contactus.id }}) details</caption>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Created</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
        </tr>
        <tr>
            <td>{{ contactus.id }}</td>
            <td>{{ contactus.name }}</td>
            <td>{{ contactus.created }}</td>
            <td>{{ contactus.email_from }}</td>
            <td>{{ contactus.subject }}</td>
            <td>{{ contactus.message }}</td>
        </tr>
    </table>
{% endblock content %}
